<br>
<h2>Cadastrar</h2>
<br>

<section class= "testeform">
<form>

    <div class="form-group">
      <label for="formGroupExampleInput"> ID </label>
      <input type="text" [(ngModel)] = "vaga.id"class="form-control" id="formGroupExampleInput" placeholder="Digite o id desejado"   oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" />
    </div>


<br>


    <div class="form-group">
      <label for="formGroupExampleInput2">Nome da Vaga</label>
      <input type="text" class="form-control"name="nome" [(ngModel)] = "vaga.nome" id="formGroupExampleInput2" placeholder="Digite o Nome da Vaga desejado">
    </div>

    <BR>
    <div class="form-group">
        <label for="exampleFormControlFile1">Insira a foto</label>
        <input type="file" name="foto" [(ngModel)] = "vaga.foto" class="form-control-file" id="exampleFormControlFile1">
      </div>


<BR>

    <div class="input-group mb-3">
        <span class="input-group-text">R$</span>
        <input type="text" name="salario" [(ngModel)] = "vaga.salario" class="form-control" aria-label="Dollar amount (with dot and two decimal places)"   oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" />
      </div>

      <BR>


      <div class="form-group">
        <label for="exampleFormControlTextarea1">Insira a Descrição</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>

      <BR>

      <button type="button" class="btn btn-outline-primary"(click)="atualizar(vaga.id)">Atualizar Vaga</button>
      <button type="button" class="btn btn-outline-success"(click)="cadastrar()">Cadastrar Vaga</button>
      <button type="button" class="btn btn-outline-danger"(click)="excluir(vaga.id)">Excluir Vaga</button>
    
  </form>
  <br>  <br>
</section>




<section class="lista-vagas">
    <div *ngFor="let vaga of vagas">

        <div class="card" style="width: 18rem;">
            <img src="assets\img\vagas\{{vaga.foto}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Código da Vaga: {{vaga.id}}</h5>
              <h5 class="card-title">Vaga: {{vaga.nome}}</h5>
              <p class="card-text">Descricão da Vaga: {{vaga.descricao}}</p>
              <p class="card-text">Salário: R$ {{vaga.salario}},00</p>

              <button type="button" (click)="atualizar(vaga.id)">Atualizar Vaga</button>
                <button type="button" (click)="excluir(vaga.id)">Excluir Vaga</button>
            </div>
          </div>
    
    </div>



    


</section>
