.lista-vagas{
        display: flex;
        flex-direction: row;    
}
.lista-vagas .card{
    margin: 5px 10px;
    min-height: 300px;
}


.card-img-top {
    display: block;
    max-width: 100%;
    height: auto;
  }